* {
	box-sizing: border-box;
}

body {
	font-family: 'Anton', sans-serif;

}

h1 {
	margin: auto;
	text-align: center;
	padding: 10px;
}

form {
	margin: auto;
	text-align: center;
	font-family: 'Anton', sans-serif;
}

.center-text {
	text-align: center;
}